* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

body{
	height: 100%;
}

.container{
	display: flex;
	width: 100%;
	max-width: 1280px;
	background-color: white;
	margin: auto;

}

.header {
	display: flex;
}
.navbar{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: right;
	height: 60px;
	width: 1280px;
	text-align: left;
	padding-right: 50px;
	background-color:initial;
}

.img1{
	width: 36px;
	height: 36px;
	margin-right: 750px;	
}
.img4, .img5{
	padding: 15px;
}
.vector{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 20px;
	
}
a{
	padding: 15px;
	text-decoration: none;
}
.value1{
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #156963;
	width: 100px;

}
.value2{
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	width: 100px;
}
.style{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 20px;
	width: 150px;
	height: 36px;
	background: #156963;
}
.content{
	display: flex;
	align-items: center;
	flex-direction: column;
}


.left{
	margin-bottom: 200px;
	margin-left: 50px;
	width: 523px;
	height: 166px;
	margin-top: 150px;
}
h1{
	font-size: 68px;
}
.dolor{
	margin-top: 20px;
	color: #2C1500;
}
.img3{
	height: 800px;
	width: 600px;
}

.right{
	display: flex;
	bottom: 0;
	right: :0;
	margin-left: 100px;
	margin-top: 100px;


}
.knopka1_int1{
	color: gray;
	font-size: 17px;
	padding:50px;
}

.knopka2_int2{
	background-color: #006666;
	color: white;
	font-size: 17px;
	padding: 50px;


}
.img6{
	margin-right: 10px;
}
 .img7{
	margin-left: 10px; 
}

span{
	color: #CCCCCC;
	font-size: 24px;
}
h3{
	margin-top:10px; 
	font-size: 32px
}

.rectangle{
	justify-content: space-between;
	margin-top: 100px;


}
.div1, .div2, .div3, .div4{
	width: 268px;
	background: #FFFFFF;
	border: 2px solid white;
}
.img8{
	width: 48px;
	height: 48px;
}
.flex{
	display: flex;
	flex-direction: row;
	align-items: center;
}
h4{
	width: 40px;
	margin-left:  10px;
	color: #156963;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}
.text1{
	width: 150px;
	color: #156963;
}
.text2{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 16px;
	color: #2C1500;
	margin-top: 10px;
}
.group{
	margin-top: 100px;
	width: 1300px;
	height: 24px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	}
h5{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #000000;

}
.div1, .div2, .div3, .div4{
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
}
.select{
	width: 190px;
	height: 40px;
	border: 1px solid black;
	align-items: center;
	justify-content: center;
	display: flex;
}
.select2{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 15px;
}
.img9{
	width: 20px;
	height: 20px;
	margin-left: 10px;
}
hr{
	width: 1280px;
	height: 0px;
	border: 1px solid #E0E0E0;
	margin-top: 20px;
	
}
.rugue{
	width: 1280px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-top: 30px;
	
}
.ellipse1{
	width: 217px;
	height: 217px;
	background: #F3F4F6;
}
.list{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #000000;
}
.depok{
	margin: auto;
	width: 1280px;
}
.int_list{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #000000;
}
.triangle{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0px;
	width: 100%;
	height: 268px;
	margin-top: 130px;

}
.triangle_int{
	width: 522px;
}
.h6{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 56px;
	color: #2C1500;
}
.lorem{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #2C1500;
	opacity: 0.8;
}
.img10{
	width: 568px;
	height: 250px;
	margin-top: 50px; 
	background: #C4C4C4;
}
.img11{
	width: 513px;
	height: 550px;
	background: #C4C4C4;
}
.shop{
	width: 100%;
	height: 360px;
	background: #F3F4F6;
	display: flex;
	justify-content: space-between;
	
}
.shop_int{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

}
.visit{
	
	width: 302px;
	height: 300px;
	
}
.croat{
	
	padding: 0px;
	width: 583px;
	height: 184px;
}


.plant{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 56px;
	color: #2C1500;
	margin-left: 50px;
	width: 550px;
	
}
.shop_int_two{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;	
	width: 152px;
	height: 40px;
	background: #156963;
	border: 1px solid #156963;
	margin-left:50px; 


}
.visit1{
	width: 68px;
	height: 20px;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	color: #FAFEFE;
}
.produk{

}
.triangle_int-two{

	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-top: 400px; 
}
footer{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;	
	width: 946px;
	height: 137px;
	margin: auto;
	margin-top: 50px; 
}
.footer{
	width: 282px;
	height: 137px;
}
.jason{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #156963;
}
.laksda{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #333333;
	margin-top: 38px;
}
.plantku{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	color: #4F4F4F;
	margin-top: 10px;
}
.footer2{
	width: 282px;
	display: flex;
	flex-direction: column;
	justify-content: left;

}
.kami{
	position: absolute;
	width: 92px;
	height: 16px;
	left: 362px;
	top: 0px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	color: #000000;
}
.line2{
	width: 95px;
	height: 46px;
	align-items: center;
	display: flex;
	justify-content: center;

}
.plantku2{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #000000;
	margin-top: 30px;



}
.jason2{

	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 16px;
	color: #000000;
}
.laksda2{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #000000;
	margin-top: 36px;
}
.footer3{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	width: 95px;
	height: 82px;
}
.jason3{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 16px;
	color: #000000;
}
.line3{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	width: 95px;
	height: 46px;
}
.laksda3{
	margin-top: 22px;
}
.plantku3{
	margin-top: 20px;
}
.footer4{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	width: 234px;
	margin-left: 80px;
}
.jason4{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 16px;
	color: #000000;
	width: 260px;

}
.line4{
	width: 234px;
	height: 32px;
	margin-top: 20px;
	margin-left: 10px;
	display: flex;
	align-items: center;
	padding-left: 10px; 
}
.line5{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 4px 12px;
	width: 86px;
	height: 35px;
	background: #156963;
	border-radius: 2px;
	margin-top: 20px; 
}
.plantku4{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	text-transform: capitalize;
	color: #FFFFFF;
}
input{
	height: 35px;
	width: 160px;
}
.hr2{
	margin-top: 50px;
}
 main{
 	margin: auto;
 	width: 1280px;
 }
